* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 50 auto;
  padding: 600px;
}

.box1 {
  width: 300px;
  padding: 350px;
  margin: 30px;
  background-color: #eeeeee;
}

.img-box1 {
  background-image: url(img/flow01.png);
  background-size: 300px 150px;
  background-position: bottom;
}

.step {
  display: inline-block;
  padding: 1px 1px;
  background-color: #ff9a4b;
  color: #fff;
  font-size: 20px;
}

footer {
  padding: 50px;
  background-color: #aaaaaa;
}
